%ul.comment-list
  %li.comment-displayed
    .comment-content
      %b= comment.user.email
      %span= time_ago_in_words(comment.created_at)
      %p= comment.content
      =link_to 'reply', '#', class: 'js-reply-link', 'data-commentable-id' => comment.id

    = render 'comments/listing', comments: comment.comments
