- upvoted = comment.upvoted_by?(current_user)
- downvoted = comment.downvoted_by?(current_user)

%a.js-comment-vote.comment_vote{href: '#','data-comment-id' => comment.id, |
                  'data-direction' => 'up', class: upvoted ? 'voted' : '' }
  %i.icon-arrow-up
%a.js-comment-vote.comment_vote{href: '#','data-comment-id' => comment.id, |
                  'data-direction' => 'down', class: downvoted ? 'voted' : '' }
  %i.icon-arrow-down
