- upvote_class = current_user && post.user_post_vote ? 'voted' : ''
%span.post_votes.pull-left
  %span.upvote_count
    = post.votes
  %a.upvote.js_upvote{ 'data-post-id' => post.id, href: '#', class: upvote_class }
    %i.icon-arrow-up
