- if post.url.present?
  %a.post-title{href: post.url, target: '_blank'}
    %i.icon-share
    =post.title
  %span.url= "(#{url_host(post.url)})"
- else
  %a.post-title{href: post_path(post)}
    = post.title
