- if @posts.count > 0
  %table.table.posts-table
    %tbody
      - @posts.each do |post|
        = render 'post', post: post

  = will_paginate @posts, :renderer => BootstrapPagination::Rails
- else
  %h4 There aren't any posts yet :(
  %p Be a nice guy and get us started
