- if @posts.count > 0
  %table.table.posts-table
    %tbody
      - @posts.each do |post|
        = render 'post', post: post

  = will_paginate @posts, :renderer => BootstrapPagination::Rails
- else
  %h4= SiteSetting.no_posts_title
  %p= SiteSetting.no_posts_description
