- if @posts.count > 0
  %h4= @title

  %table.table.table-striped
    %tbody
      - @posts.each do |post|
        = render 'post', post: post
- else
  %h4 There aren't any posts yet :(
  %p Be a nice guy and get us started
