h4 .url
  font-size: 14px
  font-weight: normal

h4
  margin: 0 0 5px 0

td
  &.vote_count
    width: 60px

.post_votes
  margin: 12px 0px 0 0
  .voted
    color: #f36c3d

.post-actions
  width: 100px

.description
  background: white

.post-information
  padding: 0 0 10px 0

.post-content
  margin-left: 20px
  width: 90%

.index-post-description
  .well
    margin-top: 10px

span
  &.age
    color: #777
    margin-left: 10px
    font-size: 13px

  &.actions
    font-size: 15px
    font-weight: normal
    a
      text-decoration: none
    i
      margin-top: 15px
      margin-right: 10px

  &.post-info-link
    a
      text-decoration: none
      & :hover
        color: #0088cc
    i
      padding: 2px 4px
      color: #9da0a4
      background-color: #f7f7f9
      border: 1px solid #e1e1e8
      white-space: nowrap
