h4 .url
  font-size: 14px
  font-weight: normal

h4
  margin: 0 0 5px 0

td
  &.vote_count
    max-width: 100px

.feed
  width: 90%

.article
  padding: 16px 0 6px 60px

.post-title
  text-decoration: none
  color: #333332
  i
    font-size: 18px

.post_votes
  display: inline-block
  margin-left: -60px
  width: 40px
  .voted
    color: #f36c3d

.post-actions
  width: 100px

.description
  max-width: 700px
  background: white
  border: 0px

.post-information
  padding: 0 0 10px 0
  width: 100%
  float: left

.post-content
  margin-top: 10px
  margin-left: 20px
  width: 90%

.index-post-description
  display: block
  .well
    margin-top: 10px

.post-container
  margin-bottom: 10px

span
  &.age
    color: #777
    margin-left: 10px
    font-size: 13px

  &.actions
    font-size: 15px
    font-weight: normal
    a
      text-decoration: none
    i
      margin-top: 15px
      margin-right: 10px

  &.post-info-link
    a
      text-decoration: none
      & :hover
        color: #0088cc
    i
      padding: 2px 4px
      color: #9da0a4
      background-color: #f7f7f9
      border: 1px solid #e1e1e8
      white-space: nowrap

.post-author-card
  position: relative
  width: 170px
  margin: 20px 0 0 20px
  border-top: 0
  padding-top: 0
  float: left

.post-author-image
  img
    width: 60%
    margin-bottom: 20px
    -webkit-border-radius: 95px
    -moz-border-radius: 95px
    border-radius: 95px
    background: #f2f2f0

.post-input
  height: 15px !important

.post-form
  padding: 4px
  border-bottom: 1px solid #e1e1e8 !important

  input
    font-size: 12px

  textarea
    font-size: 12px
    margin: 5px 0
    width: 558px

  form
    margin-bottom: 10px

  .redactor_box
    width: 570px
    min-height: 100px

  .redactor_toolbar
    height: 18px !important
    li
      a
        height: 10px

  .redactor_editor
    padding: 10px !important

  .description-editor
    padding: 5px 0
